<form name="detailsForm" id="detailsForm" ng-submit="save(detailsForm.$valid)" novalidate>
  <div>
    <label>ABOUT</label><br>
    <textarea rows="6" cols="50" ng-model="data.about"></textarea>
  </div>

  <div>
    <label>INTERESTS</label><br>
    <div ng-repeat="interest in data.interests">
      <div>
        <input type="text" ng-model="interest.name" required>
      </div>
      <button type="button" ng-click="deleteInterest(interest)">-</button>
    </div>
    <button type="button" ng-click="addInterest()">+</button>
  </div>

  <div>
    <label>CHARITIES</label><br>
    <div ng-repeat="charity in data.charities">
      <div>
        <label>NAME</label>
        <input type="text" ng-model="charity.name" required>
      </div>
      <div>
        <label>YEARS</label>
        <input type="text" ng-model="charity.years" required>
      </div>
      <button type="button" ng-click="deleteCharity(charity)">-</button>
    </div>
    <button type="button" ng-click="addCharity()">+</button>
  </div>

  <div>
    <label>PETS</label>
    <input type="checkbox" ng-model="data.pets">
  </div>

  <div>
    <label>DRINKS ALCOHOL</label>
    <input type="checkbox" ng-model="data.alcohol">
  </div>
  <br>
  <button type="submit" ng-disabled="detailsForm.$invalid">Submit</button>
</form>
