<form name="sportsForm" ng-submit="save(sportsForm.$valid)" novalidate>
  <div ng-repeat="sport in data">
    <select ng-model="sport.name"
            ng-options="item for item in sportsList"
            required>
    </select>
    <div>
      <label>Association</label>
      <input type="text" ng-model="sport.association" required>
    </div>
    <div>
      <label>Team</label>
      <input type="text" ng-model="sport.team" required>
    </div>
    <button type="button" ng-click="deleteSport(sport)">-</button>
  </div>
  <button type="button" ng-click="addSport()">+</button>
  <br>
  <button type="submit" ng-disabled="sportsForm.$invalid">Submit</button>
</form>
